/*css enabezado*/

header {
  background: linear-gradient(90deg, #1e3a8a, #22c55e);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  box-shadow: 0 10px 20px rgba(133, 133, 133, 0.781);

}

.menu {
  display: flex;
  gap: 25px;
  height: 50px;
}

.menu a,
button {
  border-radius: 14px;
  padding: 15px;
  background-color: #1e3b8a54;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: 0.5s ease;
}

.btn-logout {
  text-decoration: none;
  border-bottom: none;
  border: none;
  font-weight: 500;
  display: flex;
}

.btn-logout:hover {
  background-color: #22c55ebe;
  color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 0 20px #ffffff5d;
}

.menu a:hover {
  background-color: #ffffff41;
  color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 0 20px #1e3b8a7e;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

/*fooer*/

.prueba {
  height: 1200px;
}

.footer {
  background: linear-gradient(90deg, #1e3a8a, #22c55e);
  color: #ffffff;
  text-align: center;
  padding: 25px 0;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 10px 0 20px rgba(133, 133, 133, 0.781);
  position: relative;
  margin-top: auto;
  flex-direction: column;
}

.body2 {}

.footer-info {
  font-size: 1rem;
  line-height: 1.6;
  color: #f3f4f6;
  margin-bottom: 10px;
}

.footer-copy {
  font-size: 0.9rem;
  color: #d1d5db;
  margin-top: 15px;
}

/*imagenes de logo*/

.logofo {
  width: 100px;
  border-radius: 14px;
  padding: 15px;
  background-color: #1e3b8a54;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: 0.5s ease;
  font-size: 1.8rem;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.logofo:hover {
  background-color: #1e3b8a8f;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.747);
}

.letra {
  width: 100px;
  margin-left: 15px;
  opacity: 0;
  transform: translateX(-30px);
  transition: all 0.7s ease;
  pointer-events: none;
  margin-bottom: 5px;
}

.logo-container:hover .letra {
  opacity: 1;
  transform: translateX(0);
}

.eng {
  width: 15%;
  ;
}

.engf {
  width: 4%;
}

/*estilo de formukarios*/

.registro-container {
  background-color: #fff;
  width: 420px;
  margin: 80px auto;
  padding: 0 40px 40px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  transition: all 0.3s;
}

.registro-container:hover {
  transform: scale(1.02);
}

.registro-titulo {
  display: block;
  background: linear-gradient(90deg, #1e3a8a, #22c55e);
  color: #fff;
  padding: 18px 40px;
  margin: 0 -40px 20px;
  font-size: 1.8rem;
  letter-spacing: 1px;
  box-shadow: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
  margin-bottom: 40px;
}

.registro-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}

.registro-form label {
  font-weight: 600;
  color: #1e3a8a;
}

.registro-form input[type="text"],
.registro-form input[type="password"] {
  padding: 12px;
  border-radius: 12px;
  border: 2px solid #1e3a8a60;
  outline: none;
  font-size: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.registro-form input[type="text"]:focus,
.registro-form input[type="password"]:focus {
  border-color: #1e3a8a;
  box-shadow: 0 0 6px rgba(30, 58, 138, 0.4);
}

.btn-registrar {
  margin-top: 10px;
  background: linear-gradient(90deg, #1e3a8a, #22c55e);
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 12px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-registrar:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(30, 58, 138, 0.6);
}

.mensaje {
  margin-top: 15px;
  font-weight: 500;
  color: #22c55e;
}

.mensaje {
  margin-top: 15px;
  color: #22c55e;
  font-weight: 600;
  text-align: center;
}

.mensaje.error {
  color: #ef4444;
}

.sweetalert-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.sweetalert-icon {
  font-size: 60px;
  color: #22c55e;
}

.body {
  background-color: rgb(255, 255, 255);
}

.productos-container {
  padding: 20px;
  text-align: center;
}

.grid-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-decoration: none;
}

.card-producto {
  text-decoration: none;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s ease;
}

.card-producto:hover {
  transform: translateY(-5px);
}

.img-producto {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.btn-comprar {
  margin-top: 10px;
  background: linear-gradient(90deg, #1e3a8a, #22c55e);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.2s;
}

.enlace-producto{
  text-decoration: double;
}

.btn-comprar:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.btn-comprar:active {
  transform: scale(0.97);
}

.inicio-container {
  text-align: center;
  padding-bottom: 50px;
  background-color: #fff;
}

.inicio-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}

.inicio-logo {
  width: 120px;
}

.inicio-eslogan {
  font-size: 1.8rem;
  margin: 20px 0 40px;
  font-weight: 700;
  text-decoration-color: linear-gradient(90deg, #22c55e, #1e3a8a);
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 0px 0px 15px rgb(255, 255, 255);
  padding: 20px;
}

.productos-destacados {
  padding: 20px;
}

.titulo {
  margin-top: 20px;
  color: #1e3a8a;
  font-weight: bold;
  margin-bottom: 25px;
}

.cajalogo {
  margin-top: 40px;
  margin-bottom: 40px;
  background: linear-gradient(90deg, #1e3a8a, #22c55e);
  border-radius: 40px;
  align-items: center;
  box-shadow: 0 10px 20px rgba(133, 133, 133, 0.781);
  margin-left: 27px;
  margin-right: 37px;
  transition: 0.5s ease;
}

.cajalogo:hover {
  color: #ffffff;
  transform: scale(1.01);
}

.card-producto p {
  color: #1e3a8a;
}

.panel-cuenta p {
  display: flex;
}

.panel-cuenta {
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: linear-gradient(0deg, #213774e3, #288a4cde);
  color: white;
  box-shadow: -5px 0 20px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  animation: slideIn 0.3s ease forwards;
  z-index: 1000;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cerrar-panel {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.cerrar-panel:hover {
  color: #22c55e;
}

.panel-body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-cuenta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d256896;
  color: #ffffff;
  font-size: 150%;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.4s ease;
  border-radius: 40px;
}

.btn-cuenta:hover {
  background-color: #ffffff41;
  transform: scale(1.1);
  box-shadow: 0 0 15px #1e3b8a7e;
}

.carousel {
  position: relative;
  width: 95%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  height: 100%;
}

.carousel-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-img.active {
  opacity: 1;
  position: relative;
}

.grid-servicios {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 40px 0;
  flex-wrap: wrap;
  color: #1e3a8a;
  height: 300px;
}

.servicio-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 25%;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s;
  margin-right: 30px;
}

.servicio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  display: block;
  transition: 0.3s ease-in-out;
}

.servicio-card:hover {
  transform: scale(1.1);
}

.servicio-card i {
  font-size: 2rem;
  color: #0a84ff;
  margin-bottom: 10px;
}

.producto-detalle {
  padding: 40px 60px;
  max-width: 1200px;
  margin: auto;
  color: #222;
  font-family: 'Poppins', sans-serif;
}

.detalle-principal {
  display: flex;
  gap: 50px;
  align-items: flex-start;
  margin-bottom: 70px;
}

.detalle-imagen {
  width: 100%;
  max-width: 350px;
  /* ajustá el ancho máximo */
  aspect-ratio: 1 / 1;
  /* cuadrado */
  overflow: hidden;
  /* oculta lo que sobresale */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detalle-imagen {
  width: 600px;
  max-width: 600px;
  border-radius: 10px;
  height: 500px;
  transition: 0.3s ease-in-out;
}

.detalle-imagen .img-producto {
  height: 100%;
  width: 100%;

}

.detalle-imagen:hover {
  transform: scale(1.03);
}

.titulo-producto {
  font-size: 2rem;
  margin-bottom: 15px;
  border-left: 5px solid #2ecc71;
  padding-left: 10px;
}


.precio {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 25px;
}

.botones {
  display: flex;
  gap: 15px;
}

.btn-verde {
  margin-top: 10px;
  background: #1e3a8a;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.btn-verde:hover {
  opacity: 0.9;
  transform: scale(1.05);
  background-color: #22c55e;
}

.btn-comprar {
  background-color: #2ecc71;
  color: white;
}

.recomendados {
  text-align: center;
}

.titulo-recomendados {
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 25px;
  position: relative;
  display: inline-block;
  color: #222;
}

.titulo-recomendados::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 80px;
  height: 3px;
  background-color: #2ecc71;
  border-radius: 2px;
}

.lista-recomendados {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  color: #1e3a8a;
}

.card-recomendado {
  text-decoration: none;
  color: inherit;
  background: #fff;
  border-radius: 12px;
  width: 220px;
  padding: 15px;
  border: 1px solid #eee;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-recomendado img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card-recomendado:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.productos-container {
  padding: 60px 40px;
  text-align: center;
}

.titulo {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #1e3a8a;
  text-align: left;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font: bold;
}

.titulo::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 120px;
  height: 4px;
  background-color: #22c55e;
  border-radius: 2px;
}

.grid-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.card-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 250px;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 18px;
  text-decoration: none;
  color: #1f2937;
}

.card-producto:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 25px rgba(30, 58, 138, 0.25);
}

.img-producto {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card-producto h3 {
  font-size: 1.2rem;
  color: #1e3a8a;
  margin: 5px 0 10px;
  text-align: center;
}

.descripcion {
  font-size: 0.95rem;
  color: #374151;
  min-height: 50px;
  margin-bottom: 10px;
  text-decoration: none;
}

.botones {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.btn-registrar {
  display: inline-block;
  margin-top: 50px;
  background-color: #1e3a8a;
  color: #fff;
  padding: 12px 24px;
  border-radius: 14px;
  font-weight: 500;
  transition: 0.3s ease;
  text-decoration: none;
}

.btn-registrar:hover {
  background-color: #22c55e;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(30, 58, 138, 0.4);
}

.grid-servicioss {
  display: flex;
  gap: 30px;
  margin: 40px 0;
  flex-wrap: wrap;
  color: #1e3a8a;
  height: 300px;
  flex-direction: column;
  flex-wrap: nowrap;
}

.servicioscaja {
  margin-left: 30px;
  padding: 2%;
}

.servicio-cardd {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 20%;
  text-align: center;
  padding: 20px;
  transition: 0.3s;
  height: 180px;
  display: flex;
  flex-wrap: wrap;
}

.servicio-cardd img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  display: block;
  transition: 0.3s ease-in-out;
  align-items: start;
}



.servicios {
  text-align: center;
  padding: 20px;
  height: 1000px;

}

.servicio-cardd p {
  opacity: 1;
  color: white;
  text-align: center;
  transition: 0.5s;
}

.servicio-cardd:hover p {
  opacity: 1;
}

.servicio-cardd:hover .serviciopa {
  opacity: 1;
  transform: translatex(60px);
}

.serviciopa {
  position: absolute;
  height: 200px;
  width: 120px;
  font-size: 1.1rem;
  background: linear-gradient(90deg, #22c55e, #1e3a8a);
  text-shadow: 0px 0px 15px rgb(255, 255, 255);
  color: white;
  border-radius: 0px 20px 20px 0px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s ease;
  margin-left: 400px;
}

textarea {
  border-radius: 10px;
  border-color: #b0bacc;
  border-style: solid;
  border-width: 2px;
  height: 38px;
}

input[type="number"] {
  border-radius: 10px;
  border-color: #b0bacc;
  border-style: solid;
  border-width: 2px;
  height: 38px;
}


.cajaprincipal {
  display: flex;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.15);
  padding: 20px;
  width: 85%;
  margin: 0 auto;
}

.columna-servicios {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 50%;
}

.servicio-cardd {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.servicio-cardd:hover {
  transform: translateY(-5px);
}

.formulario-reparacion {
  margin-top: 0px;
  margin-left: 300px;
  display: flex;
}

.btn-rojo {
  margin-top: 10px;
  background: #993232;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.btn-rojo:hover {
  opacity: 0.9;
  transform: scale(1.05);
  background-color: #ee4444;
}

.productos-containerr {
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-productoo {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  padding: 15px;
  text-align: center;
  transition: 0.2s ease;
  margin-bottom: 20px;
  margin-left: 20px;
  height: min-content;
}

.card-productoo:hover {
  transform: translateY(-5px);
}

.descripcionn {
  color: #1e3a8a;
  height: 150px;
}

.carrito-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.carrito-container h2 {
  color: #1e3a8a;
}

input[type="email"] {
  border-radius: 10px;
  border-color: #b0bacc;
  border-style: solid;
  border-width: 2px;
  height: 38px;
  margin-right: 10px;
}

.newsletter {
  margin-top: 30px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  padding: 15px;
  text-align: center;
  transition: 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 300px;
  margin-right: 300px;
}

.newsletter p {
  color: #1e3a8a;
}


.info-item {
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 18px;
  border-radius: 14px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

.info-item strong {
  opacity: 0.7;
}

.aparte{
  background-color: red;

}
